a {
    text-decoration: none !important;
    color: bisque !important;
}

ul {
    display: flex;
    justify-content: space-around;
}

@media (max-width: 420px) {
    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}