.model {
    color: rgb(253, 222, 185);
}

.shoping-cart-btn {
    background-color: rgb(199, 125, 34) !important;
    border: none !important;
}

.card {
    background-color: black !important;
}

.colored-toast.swal2-icon-info {
    background-color: #3fc3ee !important;
}