button {
    color: rgb(255, 170, 0);
    border: none;
}

.type-select {
    border: none;
    color: rgb(255, 170, 0);
    margin: 30px;
    margin-right: 20px;
    background-color: black;
}

input {
    background-color: black;
}

.type-select:focus {
    border: none;
}

.group-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}